body{
    background-color: #0D3B66;
}
#container{
    text-align: center;
    width: 450px;
    height: 550px;
    margin-left: 400px;
    margin-top: 65px;
    background-color: #FF66B3;
    /* padding-left: 30px; */
}
h1{
    font-size: 40px;
    font-family: Impact;
}

#cm{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#kg{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#submit{
    width: 150px;
    height: 35px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: blue;
    color: #fff;
    font-size: 25px;
}

#weightguide{
    margin-left: 20px;
    margin-top: 25px;
}

#result{
    text-align: center;
    font-size: 35px;
    /* margin-left: 90px; */
    color: blue;

}
#submit:hover{
    background-color: #190a05;
    cursor: pointer;
}